* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(2, 15, 48);
    box-sizing: border-box;
  }
  
  #header {
    height: 90px;
    background: #302f2f;
    width: 100%;
    z-index: 12;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #header-img {
    width: 120px;
    height: 80px;
    margin: 30px;
  }
  
  #header-img:hover {
    border: 2px solid rgb(245, 245, 245)
  }

  #nav-bar {
    margin-left: 6.0rem;
    padding-top: 6.5rem;
  }
  
  #nav-bar li {
    list-style: none;
    float: left;
    padding-top: 10px;
    float: left;
  }
  
  #nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-family: sans-serif, Tahoma;
    font-weight: bold;
    padding: 30px;
  }
  
  #nav-bar a:hover {
    background-color: gray;
    text-shadow: 2px 1px 1px rgb(49, 6, 243);
  }

  #video {
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    margin-top: -9.5rem;
  }

  .search-button {
    float: right;
    margin-right: 30px;
    margin-top: 3.5rem;
  }
  
  .search-button input {
    height: 50px;
    font-size: 16px;
    padding-left: 20px;
    color: #000;
    outline: none;
    margin: 20px;
    margin-bottom: -8px;
    background: white;
     
  }
  
  .search-button input:hover {
    background: rgb(240, 240, 240);
    outline: none;
    border: 3px solid gray;
  }
  
  ::placeholder {
    color: gray;
  }


  .button, .submit {
    border: none;
    width: 150px;
    background: blue;
    font-weight: bold;
    height: 50px;
    color: white;
    font-size: 20px;
  }
  
  .button:hover {
    border: 2px solid rgb(126, 126, 231)
  }
  
  @media only screen and (max-width: 550px) {
    #header {
      position: inherit;
      display: grid;
      justify-content: space-between;
      align-items: center;
      margin-bottom: -9.0rem;
    }
  
    #nav-bar a {
      font-size: 14px;
      float: left;
      padding: 10px;
      margin-left: 8px;
    }
  
  }
  
  #main-section {
    padding-top: 200px;
  }

  .form-products-div {
    display: inline-flex;
    padding-top: 6.0rem;
  }

  .car-part-div {
  margin: 40px;
  }

  .car-part-div img {
    padding: 8px;
    border-radius: 20px;
  }

  .car-part-div h3 {
    color: white;
    text-align: center;
    font-family: sans-serif, Tahoma;
    font-weight: bold;
  }

  #form {
    border: none;
    background-color: grey;
    margin: 55px;
    margin-top: 15px;
    padding: 30px 30px 0 30px;
    display: grid;
    width: 40%;
  }
  
  #form input {
    height: 50px;
    font-size: 16px;
    font-family: sans-serif, Tahoma;
    color: #000;
    outline: none;
    margin-left: 0;
    padding-left: 15px;
    margin-bottom: -8px;
    border: 2px solid #7b7c80;
   
  }

  #form label {
   margin-bottom: 5px;
   font-family: 'Times New Roman', serif;
   font-size: 18px;
   font-weight: bold;
  }

  #form input:hover {
    outline: none;
    border: 3px solid gray;
  }
  .form-head {
    text-align: center;
    color: #fff;
    text-shadow: 2px 1px 1px blue;
    font-family: sans-serif;
    margin-bottom: 20px;
  }

  .fa-eye {
    text-align: right;
    margin-top: -1.5rem;
    margin-right: 2.0rem;
  }

  #footer-section {
    background: gray;
    padding: 20px;
    line-height: 2.0;
  }
  
  #footer-section a, #footer-section p {
    color: rgb(245, 245, 245);
  }
  
  #footer-section-div {
    display: inline;
    justify-content: space-between;
  }
  
  #footer-section-div i {
    margin: 20px;
  }
  
  #footer-section a {
    color: blue;
  }
  
  #footer-section a:hover {
    text-shadow: 1px 0px 0px rgb(30, 30, 255); 
  }
  
  #products img {
    width: 150px;
    height: 130px;
    margin: 20px;
    border: 5px solid rgb(3, 1, 95);
  }
  
   
  #products h3 {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-align: center;
  }